<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Instagram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Instagram.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-wrapper">
                <a class="brand-img" asp-action="Index" asp-controller="Home"><img src="img/logo.PNG" class="brand-img"></a>
                <input type="text" class="search-box" placeholder="search">
                <div class="nav-items">
                    <img src="img/home.PNG" class="icon" alt="">
                    <img src="img/messenger.PNG" class="icon" alt="">
                    <img src="img/add.PNG" class="icon" alt="">
                    <img src="img/explore.PNG" class="icon" alt="">
                    <img src="img/like.PNG" class="icon" alt="">
                    <div class="icon user-profile"></div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
